<%- include("partials/headerHome.ejs")%>


<div class="container-fluid">
    
    <div id="Donate">
        <div class="w-100 h-100 d-inline-block ">
            <div class="row">
                <div class=" col-sm-6 col-md-6 col-12">
                    <div class="card" >
                        <h1 class="card-amount">$7.50</h1>                        <div class="card-body">
                          <h5 class="card-title">Donate $7.50</h5>
                          <p class="card-text">This will not change or add any features, this is purely if you just wish to donate. All donations are much appreciated.</p>
                          
                          <a href="https://pay.doulafocus.com/b26f4b8c-fa70-4f25-b82a-32a" class="d-grid mx-auto col-6 btn btn-primary">Donate</a>
                        </div>
                      </div>
                </div>
                <div class=" col-sm-6 col-md-6 col-12">
                    <div class="card" >
                        <h1 class="card-amount">$12.50</h1>
                        <div class="card-body">
                          <h5 class="card-title">Donate $12.50</h5>
                          <p class="card-text">This will not change or add any features, this is purely if you just wish to donate. All donations are much appreciated.</p>
                          <a href="https://pay.doulafocus.com/8349da34-041b-4079-816e-dec" class="d-grid mx-auto col-6  btn btn-primary">Donate</a>
                        </div>
                      </div>
                </div>
            </div>
                <div class="d-flex justify-content-center">
                    <div class="my-2 col-sm-6 col-md-6 col-12 ">
                        <div class="card" >
                            <h1 class="card-amount">Choose your own amount</h1>
                            <div class="card-body">
                              <h5 class="card-title">Select amount after clicking Donate.</h5>
                              <p class="card-text">This will not change or add any features, this is purely if you just wish to donate. All donations are much appreciated.</p>
                              <a href="https://pay.doulafocus.com" class="d-grid mx-auto col-6  btn btn-primary">Donate</a>
                            </div>
                          </div>
                    </div>
                
                
    
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer.ejs")%>
