<%- include("partials/headerHome.ejs")%>

    <div class="container-fluid"> 
        <div id="Home" class="d-flex flex-column mb-3">
            
            <div class="p-2 h-25 ">
            </div>
            <div id="set2" class="p-2 h-50 ">
                <div class="p-2 h-25  ">
                </div>
                <div class="p-2 h-50 ">
                    <h1>About Us</h1>
                    <hr>
                    <p>We run a simple website. Hopefully it helps manage the names and notes of your clients.</p>
                    <p>Feel free to donate as you see fit, I think this is a simple application and isn't entirely necessary. Though it might make some things simpler for you.</p>    
                    <hr>
                    <p>Please register for an account to use our services.</p>
                </div>
                <div class="p-2 h-25 ">
                </div>
            </div>
           <div class="p-2 h-25 ">
            </div >
        </div>
        
    </div>
    


<%- include("partials/footer.ejs")%>
